In [2]:
#import all neccesary modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

Data Loading and Preprocessing
- Load the data files
- Perform data cleaning and preprocessing:
 - Handle missing values
 - Convert data types if necessary
 - Merge relevant datasets based on common columns
- Explore the data to gain initial insights

In [6]:
df1 = pd.read_csv(Path.cwd().parent.joinpath("data", "raw", "listings.csv"), index_col='id')
df2 = pd.read_csv(Path.cwd().parent.joinpath("data", "raw", "listings.csv.gz"), index_col='id')
listings_df = pd.concat([df1, df2], axis=1)
listings_df.head()

/var/folders/fr/d5jw13w127g13tsz21x0x2mr0000gp/T/ipykernel_12952/2494948961.py:2: DtypeWarning: Columns (43,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(Path.cwd().parent.joinpath("data", "raw", "listings.csv.gz"), index_col='id')

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
6369,"Rooftop terrace room , ensuite bathroom",13660,Simon,Chamartín,Hispanoamérica,40.45628,-3.67763,Private room,70,1,...,f,f,flexible,f,f,1,0,1,0,0.61
21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40341,-3.74084,Private room,17,4,...,f,f,strict_14_with_grace_period,f,f,2,0,2,0,0.52
23001,Apartmento Arganzuela- Madrid Rio,82175,Jesus,Arganzuela,Legazpi,40.38695,-3.69304,Entire home/apt,50,15,...,f,f,moderate,f,f,6,6,0,0,NaN
24805,Gran Via Studio Madrid,101471,Iraido,Centro,Universidad,40.42202,-3.70395,Entire home/apt,80,5,...,f,f,moderate,f,f,1,1,0,0,0.14
24836,"Select the Madrid more ""cool"".",101653,Tenty,Centro,Justicia,40.41995,-3.69764,Entire home/apt,115,3,...,f,f,moderate,f,f,1,1,0,0,0.64

In [14]:
# checking for null values
listings_df.isna().sum()

name                                               3
host_id                                            0
host_name                                         25
neighbourhood_group                                0
neighbourhood                                      0
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               4291
Length: 120, dtype: int64

In [10]:
listings_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21495 entries, 6369 to 41452557
Columns: 120 entries, name to reviews_per_month
dtypes: float64(26), int64(26), object(68)
memory usage: 19.8+ MB

In [11]:
# checking for duplicate values
listings_df.duplicated().sum()

0

In [13]:
listings_df['host_name'].describe()

       host_name host_name
count      21470     21470
unique      4191      4191
top      Claudia   Claudia
freq         302       302

In [15]:
sns.scatterplot('space', 'price', data=listings_df)
plt.title("A scatterplot showing the relationship between size and rent")
plt.show()

TypeError: scatterplot() got multiple values for argument 'data'